* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background: black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    color: #fff;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
header .logo img {
    height: 80px;
    margin-right: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav li:hover {
    opacity: 0.8;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.banner {
    width: 100%;
    height: 100vh;               
    background-image: url("images/tl-banner.jpg");
    background-size: cover;        
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: Black;
    font-size: 50px;
}

