
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-size: cover;        
    display: flex;
    background-image: url("images/tl-banner.jpg");
}
.form-container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 280px;
    margin: 0 auto;
    margin-top: 250px ;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid black;
}
button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}
button[type="button"] {
    background-color: #f44336;
    color: white;
}
button:hover {
    opacity: 0.9;
}
